body {
    background-image: linear-gradient(to bottom right, #D8B5FF, #1EAE98);
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0;
}

#title {
    font-size: 5rem;
    font-family: 'Amatic SC', sans-serif;
    font-weight: 550;
    padding: 1.25rem;
    text-align: center;
}

#gif-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
}

#gif-container #gif {
    border-radius: 1.5rem;
    box-shadow: 0 3px 12px rgb(0 0 0 / 0.7);
    aspect-ratio: 16/9;
}

#gif-container #credit a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

#description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 1.5rem;
    padding: 2rem;
}

#recipes-title {
    font-size: 2.25rem;
    font-weight: bold;
    text-align: center;
}

#buttons-list {
    display: flex;
    justify-content: center;
    padding: 1rem;
    gap: 6.75rem;
}

#button {
    height: 6rem;
    aspect-ratio: 4/3;
    background: white;
    transition: transform .2s;
    color: black;
    border: 0.19rem solid black;
    box-shadow: 0 3px 12px rgb(0 0 0 / 0.7);
    border-radius: 0.5rem;
    font-family: inherit;
    font-size: inherit;
}

#button:active {
    background: #c2c2c2;
}

#button:hover {
    transform: scale(1.1);
}

/* GitHub footer icon styling */
.fa-github {
    color: black;
    font-size: 1.5rem;
    transition: transform 0.3s ease-in-out;
}
  
/* GitHub footer icon animation on hover */
.fa-github:hover {
    transform: rotate(360deg) scale(1.2);
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-bottom: 0.5rem;
}