body {
    background-color: pink;
    text-align: center;
}

img {
    height: auto;
    width: 700px;
    border: 2px solid black;
}

h1 {
    font-family: "Courier New", "Times New Roman", Sans-serif;
    color: darkgoldenrod;
}

h2 {
    font-family: "Courier New", "Times New Roman", Sans-serif;
    color: darkgoldenrod;
    font-size: 30px;
}

p {
    color: darkgoldenrod;
    text-align: center;
    font-family: "Helvetica", "Times New Roman", Sans-serif;
}

#list {
    text-align: center;
    list-style-type: none;
}

a {
    font-family: "Helvetica", "Times New Roman", Sans-serif;
}