h1 {
    text-align: center;
    font-family: "Courier New", "Times New Roman", sans-serif;
    color: darkblue;
}

body {
    background-color: paleturquoise;
}

#image {
    height: 400px;
    width: auto;
}

h2 {
    text-align: center;
    font-family: "Courier New", "Times New Roman", sans-serif;
    color: red;
}

ul {
    text-align: center;
    font-family: "Brush Script MT", "Times New Roman", sans-serif;
    color: darkolivegreen
}

li {
    text-align: center;
    font-family: "Brush Script MT", "Times New Roman", sans-serif;
    color: darkolivegreen
}